<script type="text/javascript">
    $(document).ready(function () {

        //dropdown select2 loads data
        GetDPekerjaList(@Model.DPekerjaId);
        //
    });
    
    function GetDPekerjaList(id) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetDPekerjaAktifList", "DPekerja")',
            dataType: "json",
            success: function (msg) {
                if (msg.result == "OK") {
                    // empty selection
                    $("#DPekerjaId").empty();

                    //append new options
                    $("#DPekerjaId").append("<option value='' disable> -- SILA PLIH -- </option>");
                    for (var i = 0; i < msg.list.length; i++) {
                        var item = msg.list[i];

                        var str = "<option value='" + item.id + "'>" + item.noGaji + " - " + item.nama + "</option>";
                        $("#DPekerjaId").append(str);
                    }
                    $("#DPekerjaId").val(id).trigger("change");

                }
                else {
                    toastr.error(message);
                    toastr.options.timeOut = 2000; // 2s
                }

            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    }
</script>