<li class="nav-item">
    <a class="nav-link collapsed text-truncate
    @Html.ActiveClass("AkPenyataBukuTunai")" href="#submenuPenyata" data-toggle="collapse" data-target="#submenuPenyata"><img src="~/img/svg/penyata-kewangan.svg" class="fa fa-pull-left fa-0 icon-bar"><span>&nbsp; Penyata</span></a>
    <div class="collapse" id="submenuPenyata" aria-expanded="false">
        <ul class="flex-column ps-2 nav">
            <li class="nav-item"><a class="nav-link border-bottom py-1 ms-3 @Html.ActiveSideBarClass("AkPenyataBukuTunai")" asp-area="" asp-controller="AkPenyataBukuTunai" asp-action="Index"><span>Buku Tunai</span></a></li>
        </ul>
    </div>
</li>