@model AkPenyesuaianBank

<div class="row mb-2">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="NoRujukan" class="control-label"></label>
            <input asp-for="NoRujukan" class="form-control form-control-sm" readonly />
            <span asp-validation-for="NoRujukan" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Tahun" class="control-label"></label>
            <input class="form-control form-control-sm" asp-for="Tahun" readonly />
            <span asp-validation-for="Tahun" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Bulan" class="control-label"></label>
            <input asp-for="Bulan" class="form-control form-control-sm" readonly />
            <span asp-validation-for="Tarikh" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="AkBankId" class="control-label"></label>
            <input value="@Model.AkBank?.Kod - @Model.AkBank?.Perihal" class="form-control form-control-sm" readonly />

        </div>
    </div>

    <div class="form-group">
        <label asp-for="BakiPenyata" class="control-label"></label>
        <input value="@Model.BakiPenyata" class="form-control form-control-sm" readonly />
    </div>
</div>
