@model AkInden

@{
    ViewData["Title"] = "Inden Kerja - Batal Pos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card box-shadow">
    <div class="card-body">
        <partial name="~/Views/Partials/Common/_TitleDeletePartial.cshtml" />

        <p class="text-danger">Anda pasti untuk membatalkan pos maklumat berikut?</p>
        <partial name="__DetailsPartial.cshtml">

            <form asp-action="BatalPos">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" />
                <input name="syscode" value="SPPB" hidden />
                <div class="row mb-2">
                    <div class="form-group">
                        <label class="control-label">Sebab Batal Pos</label>
                        <input name="tindakan" class="form-control text-uppercase form-control-sm" required>
                        <span class="text-danger">sila isi ruang ini untuk meneruskan operasi</span>
                    </div>
                </div>
                <input type="submit" value="Batal Pos" class="btn ac-danger btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}